body {
    backgrond: #cccccc
}

#maxresdefault {
    
    
   }

h1 {
      text-align: center
}

p {
  text-align: center
}

em strong {
  color: #FF0000;
{
.itens {
   font-stule: italic
}   
 
h2{   
  text-align: center;
}  

.imagembeneficios {
    width: 50%;
 }
